### Preprocessing the Data for a Neural Network

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
import numpy as np

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Data/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df= application_df.drop(columns= ["EIN","NAME"],axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_count=application_df.APPLICATION_TYPE.value_counts()
app_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Determine which values to replace if counts are less than ...?
replace_application = list(app_count[app_count < 500].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
class_count=application_df.CLASSIFICATION.value_counts()
class_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# Determine which values to replace if counts are less than ..?
replace_class = list(class_count[class_count < 1000].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [8]:
# Generate our categorical variable lists
app_catgs = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_df[app_catgs].nunique()

APPLICATION_TYPE          9
AFFILIATION               6
CLASSIFICATION            6
USE_CASE                  5
ORGANIZATION              4
INCOME_AMT                9
SPECIAL_CONSIDERATIONS    2
dtype: int64

In [9]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[app_catgs]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(app_catgs)
encode_df.head()

/Users/farwaali/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [10]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df, left_index=True, right_index=True).drop(columns=app_catgs, axis=1)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [11]:
# Split our preprocessed data into our features and target arrays
y = np.array(application_df.IS_SUCCESSFUL)
X = np.array(application_df.drop("IS_SUCCESSFUL", axis=1))

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### Changing Activation Function

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, activation="tanh", input_dim=number_input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 80)                3520
_________________________________________________________________
dense_1 (Dense)              (None, 30)                2430
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 31
=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

2022-01-04 17:30:02.166951: I tensorflow/core/platform/cpu_feature_guard.cc:145] This TensorFlow binary is optimized with Intel(R) MKL-DNN to use the following CPU instructions in performance critical operations:  SSE4.1 SSE4.2
To enable them in non-MKL-DNN operations, rebuild TensorFlow with the appropriate compiler flags.
2022-01-04 17:30:02.168912: I tensorflow/core/common_runtime/process_util.cc:115] Creating new thread pool with default inter op setting: 8. Tune using inter_op_parallelism_threads for best performance.

In [14]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/", exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}hdf5"

In [16]:
# Create a callback that saves the model's weights every 5 epochs
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq='epoch',
    period=5)

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100, callbacks=[cp_callback])

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of samples seen.
Train on 25724 samples
Epoch 1/100
25724/25724 [==============================] - 3s 97us/sample - loss: 0.5722 - accuracy: 0.7231
Epoch 2/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5561 - accuracy: 0.7308
Epoch 3/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5516 - accuracy: 0.7325
Epoch 4/100
25724/25724 [==============================] - 2s 67us/sample - loss: 0.5502 - accuracy: 0.7330
Epoch 5/100
25248/25724 [============================>.] - ETA: 0s - loss: 0.5477 - accuracy: 0.7333 ETA:
Epoch 00005: saving model to checkpoints/weights.05hdf5
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5480 - accuracy: 0.7332
Epoch 6/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5477 - accuracy: 0.7332
Epoch 7/100
25724/25724 [==============================] - 2s 70us/sample - loss: 0.5470 - accuracy: 0.7344
Epoch 8/100
25724/25724 [==============================] - 2s 71us/sample - loss: 0.5452 - accuracy: 0.7350
Epoch 9/100
25724/25724 [==============================] - 2s 72us/sample - loss: 0.5449 - accuracy: 0.7365
Epoch 10/100
25120/25724 [============================>.] - ETA: 0s - loss: 0.5444 - accuracy: 0.7350 E
Epoch 00010: saving model to checkpoints/weights.10hdf5
25724/25724 [==============================] - 2s 72us/sample - loss: 0.5443 - accuracy: 0.7349
Epoch 11/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5443 - accuracy: 0.7349
Epoch 12/100
25724/25724 [==============================] - 2s 71us/sample - loss: 0.5435 - accuracy: 0.7356
Epoch 13/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5429 - accuracy: 0.7352
Epoch 14/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5421 - accuracy: 0.7354
Epoch 15/100
25632/25724 [============================>.] - ETA: 0s - loss: 0.5420 - accuracy: 0.7368
Epoch 00015: saving model to checkpoints/weights.15hdf5
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5419 - accuracy: 0.7368
Epoch 16/100
25724/25724 [==============================] - 2s 70us/sample - loss: 0.5417 - accuracy: 0.7368
Epoch 17/100
25724/25724 [==============================] - 2s 70us/sample - loss: 0.5410 - accuracy: 0.7374
Epoch 18/100
25724/25724 [==============================] - 2s 71us/sample - loss: 0.5410 - accuracy: 0.7372
Epoch 19/100
25724/25724 [==============================] - 2s 70us/sample - loss: 0.5402 - accuracy: 0.7373s - loss: 0.5385 -
Epoch 20/100
25408/25724 [============================>.] - ETA: 0s - loss: 0.5407 - accuracy: 0.7377
Epoch 00020: saving model to checkpoints/weights.20hdf5
25724/25724 [==============================] - 2s 70us/sample - loss: 0.5402 - accuracy: 0.7382
Epoch 21/100
25724/25724 [==============================] - 2s 70us/sample - loss: 0.5397 - accuracy: 0.7369
Epoch 22/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5395 - accuracy: 0.7395
Epoch 23/100
25724/25724 [==============================] - 2s 70us/sample - loss: 0.5391 - accuracy: 0.7379
Epoch 24/100
25724/25724 [==============================] - 2s 70us/sample - loss: 0.5390 - accuracy: 0.7379
Epoch 25/100
25216/25724 [============================>.] - ETA: 0s - loss: 0.5389 - accuracy: 0.7384
Epoch 00025: saving model to checkpoints/weights.25hdf5
25724/25724 [==============================] - 2s 72us/sample - loss: 0.5385 - accuracy: 0.7387
Epoch 26/100
25724/25724 [==============================] - 2s 72us/sample - loss: 0.5384 - accuracy: 0.7396
Epoch 27/100
25724/25724 [==============================] - 2s 70us/sample - loss: 0.5380 - accuracy: 0.7389
Epoch 28/100
25724/25724 [==============================] - 2s 72us/sample - loss: 0.5381 - accuracy: 0.7390
Epoch 29/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5374 - accuracy: 0.7395
Epoch 30/100
25216/25724 [============================>.] - ETA: 0s - loss: 0.5375 - accuracy: 0.7403 ETA: 0s
Epoch 00030: saving model to checkpoints/weights.30hdf5
25724/25724 [==============================] - 2s 70us/sample - loss: 0.5374 - accuracy: 0.7404
Epoch 31/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5375 - accuracy: 0.7400
Epoch 32/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5371 - accuracy: 0.7397
Epoch 33/100
25724/25724 [==============================] - 2s 71us/sample - loss: 0.5367 - accuracy: 0.7399
Epoch 34/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5365 - accuracy: 0.7399s - loss:
Epoch 35/100
25120/25724 [============================>.] - ETA: 0s - loss: 0.5371 - accuracy: 0.7400
Epoch 00035: saving model to checkpoints/weights.35hdf5
25724/25724 [==============================] - 2s 72us/sample - loss: 0.5365 - accuracy: 0.7404
Epoch 36/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5362 - accuracy: 0.7406
Epoch 37/100
25724/25724 [==============================] - 2s 67us/sample - loss: 0.5362 - accuracy: 0.7402
Epoch 38/100
25724/25724 [==============================] - 2s 67us/sample - loss: 0.5361 - accuracy: 0.7400
Epoch 39/100
25724/25724 [==============================] - 2s 67us/sample - loss: 0.5360 - accuracy: 0.7406
Epoch 40/100
25312/25724 [============================>.] - ETA: 0s - loss: 0.5360 - accuracy: 0.7412 ETA: 0s - l
Epoch 00040: saving model to checkpoints/weights.40hdf5
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5356 - accuracy: 0.7416
Epoch 41/100
25724/25724 [==============================] - 2s 78us/sample - loss: 0.5355 - accuracy: 0.7413
Epoch 42/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5355 - accuracy: 0.7404
Epoch 43/100
25724/25724 [==============================] - 4s 162us/sample - loss: 0.5353 - accuracy: 0.7402
Epoch 44/100
25724/25724 [==============================] - 2s 67us/sample - loss: 0.5352 - accuracy: 0.7406
Epoch 45/100
25600/25724 [============================>.] - ETA: 0s - loss: 0.5346 - accuracy: 0.7412
Epoch 00045: saving model to checkpoints/weights.45hdf5
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5348 - accuracy: 0.7411
Epoch 46/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5349 - accuracy: 0.7397
Epoch 47/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5349 - accuracy: 0.7404s - loss: 0.5318 - ac
Epoch 48/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5346 - accuracy: 0.7411
Epoch 49/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5345 - accuracy: 0.7402
Epoch 50/100
25472/25724 [============================>.] - ETA: 0s - loss: 0.5338 - accuracy: 0.7418
Epoch 00050: saving model to checkpoints/weights.50hdf5
25724/25724 [==============================] - 2s 72us/sample - loss: 0.5342 - accuracy: 0.7415
Epoch 51/100
25724/25724 [==============================] - 2s 71us/sample - loss: 0.5342 - accuracy: 0.7411
Epoch 52/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5341 - accuracy: 0.7409
Epoch 53/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5342 - accuracy: 0.7407
Epoch 54/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5340 - accuracy: 0.7418
Epoch 55/100
25696/25724 [============================>.] - ETA: 0s - loss: 0.5338 - accuracy: 0.7410 ETA: 0s - loss: 0.5357 - accuracy: 0.74 - ETA: 0s - l
Epoch 00055: saving model to checkpoints/weights.55hdf5
25724/25724 [==============================] - 2s 67us/sample - loss: 0.5339 - accuracy: 0.7410
Epoch 56/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5336 - accuracy: 0.7406s - loss: 0.5326 - accu
Epoch 57/100
25724/25724 [==============================] - 2s 70us/sample - loss: 0.5336 - accuracy: 0.7422
Epoch 58/100

25724/25724 [==============================] - 2s 67us/sample - loss: 0.5337 - accuracy: 0.7417
Epoch 59/100
25724/25724 [==============================] - 2s 74us/sample - loss: 0.5338 - accuracy: 0.7411
Epoch 60/100
25568/25724 [============================>.] - ETA: 0s - loss: 0.5338 - accuracy: 0.7419
Epoch 00060: saving model to checkpoints/weights.60hdf5
25724/25724 [==============================] - 2s 73us/sample - loss: 0.5333 - accuracy: 0.7421
Epoch 61/100
25724/25724 [==============================] - 2s 67us/sample - loss: 0.5335 - accuracy: 0.7418
Epoch 62/100
25724/25724 [==============================] - 2s 67us/sample - loss: 0.5332 - accuracy: 0.7416
Epoch 63/100
25724/25724 [==============================] - 2s 66us/sample - loss: 0.5332 - accuracy: 0.7416
Epoch 64/100
25724/25724 [==============================] - 2s 66us/sample - loss: 0.5332 - accuracy: 0.7414
Epoch 65/100
25248/25724 [============================>.] - ETA: 0s - loss: 0.5334 - accuracy: 0.7418
Epoch 00065: saving model to checkpoints/weights.65hdf5
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5332 - accuracy: 0.7419
Epoch 66/100
25724/25724 [==============================] - 2s 67us/sample - loss: 0.5330 - accuracy: 0.7417
Epoch 67/100
25724/25724 [==============================] - 2s 67us/sample - loss: 0.5330 - accuracy: 0.7412
Epoch 68/100
25724/25724 [==============================] - 2s 67us/sample - loss: 0.5326 - accuracy: 0.7421s - loss: 0
Epoch 69/100
25724/25724 [==============================] - 2s 67us/sample - loss: 0.5331 - accuracy: 0.7416
Epoch 70/100
25344/25724 [============================>.] - ETA: 0s - loss: 0.5328 - accuracy: 0.7417
Epoch 00070: saving model to checkpoints/weights.70hdf5
25724/25724 [==============================] - 2s 67us/sample - loss: 0.5327 - accuracy: 0.7418
Epoch 71/100
25724/25724 [==============================] - 2s 66us/sample - loss: 0.5327 - accuracy: 0.7418
Epoch 72/100
25724/25724 [==============================] - 2s 65us/sample - loss: 0.5327 - accuracy: 0.7418
Epoch 73/100
25724/25724 [==============================] - 2s 66us/sample - loss: 0.5326 - accuracy: 0.7415
Epoch 74/100
25724/25724 [==============================] - 2s 65us/sample - loss: 0.5325 - accuracy: 0.7413s - loss: 0.5325 - accuracy: 0.74
Epoch 75/100
25632/25724 [============================>.] - ETA: 0s - loss: 0.5323 - accuracy: 0.7419
Epoch 00075: saving model to checkpoints/weights.75hdf5
25724/25724 [==============================] - 2s 67us/sample - loss: 0.5324 - accuracy: 0.7418
Epoch 76/100
25724/25724 [==============================] - 2s 66us/sample - loss: 0.5325 - accuracy: 0.7421
Epoch 77/100
25724/25724 [==============================] - 2s 71us/sample - loss: 0.5324 - accuracy: 0.7419
Epoch 78/100
25724/25724 [==============================] - 2s 70us/sample - loss: 0.5323 - accuracy: 0.7422
Epoch 79/100
25724/25724 [==============================] - 2s 70us/sample - loss: 0.5321 - accuracy: 0.7423
Epoch 80/100
25664/25724 [============================>.] - ETA: 0s - loss: 0.5320 - accuracy: 0.7418
Epoch 00080: saving model to checkpoints/weights.80hdf5
25724/25724 [==============================] - 2s 73us/sample - loss: 0.5321 - accuracy: 0.7418
Epoch 81/100
25724/25724 [==============================] - 2s 70us/sample - loss: 0.5318 - accuracy: 0.7423
Epoch 82/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5319 - accuracy: 0.7423
Epoch 83/100
25724/25724 [==============================] - 2s 67us/sample - loss: 0.5319 - accuracy: 0.7428
Epoch 84/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5319 - accuracy: 0.7418
Epoch 85/100
25696/25724 [============================>.] - ETA: 0s - loss: 0.5320 - accuracy: 0.7417
Epoch 00085: saving model to checkpoints/weights.85hdf5
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5320 - accuracy: 0.7418
Epoch 86/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5318 - accuracy: 0.7414
Epoch 87/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5319 - accuracy: 0.7420
Epoch 88/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5317 - accuracy: 0.7419
Epoch 89/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5317 - accuracy: 0.7421
Epoch 90/100
25056/25724 [============================>.] - ETA: 0s - loss: 0.5317 - accuracy: 0.7423
Epoch 00090: saving model to checkpoints/weights.90hdf5
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5317 - accuracy: 0.7423
Epoch 91/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5316 - accuracy: 0.7432
Epoch 92/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5314 - accuracy: 0.7430s - l
Epoch 93/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5315 - accuracy: 0.7427s - loss: 0 - ETA: 0s - loss: 0.5319 -
Epoch 94/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5314 - accuracy: 0.7428
Epoch 95/100
25440/25724 [============================>.] - ETA: 0s - loss: 0.5310 - accuracy: 0.7430
Epoch 00095: saving model to checkpoints/weights.95hdf5
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5312 - accuracy: 0.7428
Epoch 96/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5313 - accuracy: 0.7423
Epoch 97/100
25724/25724 [==============================] - 2s 67us/sample - loss: 0.5313 - accuracy: 0.7428
Epoch 98/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5313 - accuracy: 0.7434
Epoch 99/100
25724/25724 [==============================] - 2s 67us/sample - loss: 0.5312 - accuracy: 0.7430
Epoch 100/100
25632/25724 [============================>.] - ETA: 0s - loss: 0.5308 - accuracy: 0.7428
Epoch 00100: saving model to checkpoints/weights.100hdf5
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5309 - accuracy: 0.7427

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/1 - 0s - loss: 0.5890 - accuracy: 0.7234
Loss: 0.5607827463372456, Accuracy: 0.7233819365501404

In [18]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization3.h5")